<html>
    <head>
        <title>Jeehoon's blog</title>
    </head>
    <body>
        <div>
            <h1><a href='page1'>Jeehoon's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a herf="page2">My first post</a></h2>
            <p>Aenesfjnskanfknksnflknldsknfklsfnlkaslknflsndflkn</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a herf='page3'>My second post</a></h2>
            <p>sfsdfsadgasgsafdfasfsggsadfsfasfsdfsfs</p>
        </div>
    </body>
</html>
